<style>
	.radio_align{align-items: left}
</style>
<%=render 'searchMap'%>
<form action="/markers/create" method="post" enctype="multipart/form-data">
	<div class="form-group" style=" margin-top: 10pt">
		<input type="radio" name="classification" value="cafe" checked> Cafe <br>
		<input type="radio" name="classification" value="restaurant"> Food <br>
		<input type="radio" name="classification" value="etc"> ETC <br>
	</div>
	<div class="form-group" style=" margin-top: 10pt">  
		<input type="file" name="img" accept="image/*" class="form-control"> 
	</div>
	<div class="form-group">  
		<input type="textarea" name="content" class="form-control"> 
	</div>
	<div class="form-group">
		<input type="text" name="lon" id="lon"  class="form-control">
		<input type="text" name="lat" id="lat"  class="form-control">
		<input type="text" name="placeName" id="placeName"  class="form-control">
	</div>

	<div class="form-group" align="left" style=" margin-top: 10pt">
		<input type="submit" class="btn btn-default" class="form-control" >
	</div>
	
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>