<h2>New post</h2>
<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      created by <%= current_user.email %>, Current Time : <%= Time.now %>
    </p>
  </div>
</div>
<div>
<style>
	.radio_align{align-items: left}
</style>
<%=render 'searchMap'%>
<form class="form-horizontal" action="/markers/create" method="post" enctype="multipart/form-data">
<%= render 'form' %>


	
</div>
