<h2>Editing Mark </h2>
<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      
    </p>
  </div>
</div>
<div class=\"img\">

	<img  width='340' height='280' src='<%= @marker.img %>'>
</div>


<hr>
<%= link_to 'Back', posts_path, class: 'btn btn-default' %>